/*滚动条样式*/
::-webkit-scrollbar {
    width: 0.3125rem;
    height: 0.3125rem;
    position: absolute
}

::-webkit-scrollbar-thumb {
    /* 设置滚动条的颜色 */
    background-color: #5bc0de
}

::-webkit-scrollbar-track {
    background-color: #ddd
}

:root {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    /* 设置全局字体 */
    font-family: sans-serif;
}


html,
body {
    padding: 0;
    margin: 0;
    /* 设置背景图片 */
    background: #000d4a url("../image/bg.png") center top;
    color: #666;
    font-size: 1rem;
}

ul {
    /* 去除列表样式 */
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* 设置盒子模型为弹性盒子 */
    display: flex;
    /* 子元素均匀分布在容器内 */
    justify-content: space-between;
}

li {
    /* 设置弹性盒在容器的可伸缩性 */
    /* 等比例，每个li元素相同宽度 */
    flex: 1;
}

.header {
    /* 设置宽度和高度 */
    /* 宽度为父容器的100% */
    /* 高度为50个像素 */
    width: 100%;
    /* height: 30px; */
    /* 设置弹性盒子，交叉轴对齐，子元素均匀分布 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 上、右、下、左内边距均为5个像素 */
    padding: 0.3125rem;
    position: relative;
    /* 上外边距为15个像素 */
    margin-top: 0.9375rem;
    /* 设置背景图片，只在一个方向平铺，水平、垂直居中 */
    background: url("../image/head.png") no-repeat center center;
    /* 背景图片在容器内完整覆盖，同时保持图片的比例，且居中显示在容器中 */
    background-size: cover;
    background-position: center;
}

.fullscreen {
    display: flex;
    cursor: pointer;
    padding: 0.125rem;
    border-radius: 0.3125rem;
}

.fullscreen:hover {
    background-color: #323b63;
}

.fullscreen-icon {
    font-size: 1.5rem;
    color: #0b80e7
}

.dropbtn {
    position: absolute;
    left: 10%;
    top: 0.3125rem;
}

.dropbtn-content {
    display: none;
    position: absolute;
    background-color: #c2f8bd;
    left: 15%;
    top: 0;
    box-shadow: 0.625rem .5rem 1rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropbtn-content li {
    color: #666666;
    padding: 0.125rem 0.625rem 0;
    text-decoration: none;
    display: block;
}

.dropbtn-content li:hover {
    background-color: #c2f8bd;
}

.dropbtn:hover+.dropbtn-content,
.dropbtn-content:hover {
    display: block;
}

.title {
    /* 设置字体大小 */
    font-size: 2.5rem;
    /* 绝对定位 */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* 设置字体颜色 */
    color: rgb(11, 128, 231);
    font-weight: 700;
    animation: breath_light 3s ease infinite;
}

@keyframes breath_light {
    0% {
        filter: brightness(100%);
    }

    50% {
        filter: brightness(220%);
    }

    100% {
        filter: brightness(100%);
    }
}

.time {
    color: #8e93a8;
    margin-left: auto;
    position: absolute;
    right: 5%;
    text-align: right;
    color: rgb(11, 128, 131);
    animation: breath_light 3s ease infinite;
}


.container {
    /* 设置弹性盒 */
    /* 子元素垂直排列 */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0.625rem;
    /* 方便设置固定宽度和高度，保证图形的质量 */
    box-sizing: border-box;
}

.left,
.center,
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    /* 设置边框 */
    border: 0.0625rem solid rgba(25, 186, 139, .17);
    padding: 0;
    background: rgba(255, 255, 255, .04) url(../image/line.png);
    background-size: 100% auto;
    position: relative;
    margin: 0 0 0.3125rem;
    /* 设置堆叠顺序 */
    z-index: 10;
    width: 28.125rem;
    height: 16.25rem;
}

.box::before,
.box::after {
    /* 设置伪元素的布局 */
    display: table;
    position: absolute;
    width: 1.6875rem;
    height: 0.5625rem;
    content: "";
}

.box::before {
    /* 设置左上边框 */
    border-left: 0.125rem solid #02a6b5;
    left: 0;
    top: 0;
    border-top: 0.125rem solid #02a6b5;

}

.box::after {
    /* 设置右下边框 */
    border-right: 0.125rem solid #02a6b5;
    right: 0;
    bottom: 0;
    border-bottom: 0.125rem solid #02a6b5;
}

.bar {
    background: rgba(101, 132, 226, .1);
    padding: .9375rem;
    margin: 0 0 .3125rem;
    max-width: 100%;
    width: 32.5rem;
    z-index: 2;
}

.barbox {
    border: .0625rem solid rgba(25, 186, 139, .17);
    position: relative;
    margin: 0;
}

.barbox2 {
    padding: 0;
    margin: 0;
}

.clearfix {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

.item {
    width: 50%;
    text-align: center;
    position: relative;
    z-index: 100;
}

.barbox:before,
.barbox:after {
    display: table;
    position: absolute;
    width: 1.6875rem;
    height: 0.5625rem;
    content: "";
}

.barbox:before {
    border-left: .125rem solid #02a6b5;
    border-top: .125rem solid #02a6b5;
}


.barbox:after {
    border-right: .125rem solid #02a6b5;
    right: 0;
    bottom: 0;
    border-bottom: .125rem solid #02a6b5;
}

.barbox li:first-child:before {
    position: absolute;
    content: "";
    height: 50%;
    width: .0625rem;
    background: rgba(255, 255, 255, .2);
    right: 0;
    top: 25%;
}

.barbox ul,
.barbox2 ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.box-top {
    position: relative;
    width: 50%;
    text-align: center;
    color: #ffeb7b;
    font-size: 3.125rem;
    padding: .625rem;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.box-bottom {
    position: relative;
    width: 50%;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-size: 1.125rem;
    padding: .3125rem;
    align-items: center;
}

.describe {
    display: flex;
    flex-direction: row;
    margin: .125rem 0;
    text-align: center;
    align-items: center;
    background: rgba(255, 255, 255, .04) url(../image/line.png);
}

.desc {
    width: 50%;
    font-weight: 400;
    color: #b3b8d0;
    padding: 0;
    font-size: 1.125rem;
    text-align: center;
}

.name {
    width: 50%;
    font-size: 1.125rem;
    color: #0b80e7;
    animation: breath_light 3s ease infinite;
}

.firework {
    display: flexbox;
    position: absolute;
    z-index: 1;
}

#canvas {
    width: 34.375rem;
    height: 19.9rem;
}

.map {
    display: flex;
    position: relative;
    height: 31.25rem;
    width: 31.25rem;
    margin: 0;
}

.map div {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 设置透明度 */
    opacity: .5;
}

.map1 {
    position: absolute;
    width: 31.25rem;
    z-index: 2;
    opacity: .5;
    /* 设置动画 */
    animation: rotateClockwise 15s infinite linear;
}

.map2 {
    position: absolute;
    width: auto;
    z-index: 3;
    opacity: 0.2;
    animation: rotateCounterClockwise 10s infinite linear;
}

.map3 {
    position: absolute;
    width: 31.25rem;
    z-index: 1;
}

.map1 img,
.map2 img,
.map3 img {
    border: none;
    max-width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

@keyframes rotateClockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes rotateCounterClockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-359deg);
    }
}

.geo {
    width: 37.5rem;
    height: 37.5rem;
    display: flex;
    position: relative;
    margin: -34.375rem 0 0 0;
    z-index: 10;
}

.customer {
    display: flex;
    border: .0625rem solid rgba(25, 186, 139, .17);
    padding: 0;
    background: rgba(255, 255, 255, .04) url(../image/line.png);
    background-size: 100% auto;
    position: relative;
    margin: 0 0 .3125rem;
    z-index: 10;
    width: 28.125rem;
    height: 16.25rem;
}

.customer::before,
.customer::after {
    display: table;
    position: absolute;
    width: 1.6875rem;
    height: .5625rem;
    content: "";
}

.customer::before {
    border-left: .125rem solid #02a6b5;
    left: 0;
    top: 0;
    border-top: .125rem solid #02a6b5;

}

.customer::after {
    border-right: .125rem solid #02a6b5;
    right: 0;
    bottom: 0;
    border-bottom: .125rem solid #02a6b5;
}